.scrollbarHorizontal[data-orientation="horizontal"] {
  width: 50%;
  margin: 0 auto;
  height: 8px;
  border-radius: 9999px;
  background-color: var(--mantine-color-dark-3);
}

.scrollThumb {
  background-color: var(--mantine-color-blue-4);
  border-radius: 9999px;
  transition: background 0.2s ease;
}

.scrollThumb:hover {
  background-color: var(--mantine-color-blue-5);
}
